// @import url("./_variables.scss");
// @import "variables"

// Questa é la sintassi corretta per l'import, ovvero il partial
@import 'variables';

body {

    background-color: $blue;

    #logo {
        width: 100px
    }

    #img-box {
        img {
            margin-right: 2rem;
        }
    }

}